html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  display: flex;
  justify-content:center;
}

main {
  height: 250px;
  width: 250px;
}

/* Add your CSS here */
h2{
  
}

table{
  height: 80%;
  width: 80%;
  border-collapse:collapse;
}

tr :nth-child(even){
  border-left:2px solid black;
  border-right:2px solid black;
}

tbody :nth-child(2 of tr){
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.hide{
  display:none;
}

td{
  width: 66px;
  height: 66px;
}

.xsquare{
  text-align: center;
  font-size: 2.25em;
  color:green;
}

.osquare{
  text-align: center;
  font-size:2.25em;
  color:blue;
}



